<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>spring-MVC-1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- springDispatcherServlet的配置可以使用插件sts来完成 -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- 自定义过滤器1 -->
	<filter>
		<filter-name>TestFilter1</filter-name>
		<filter-class>com.kkk.filter.TestFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TestFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 自定义过滤器2 -->
	<filter>
		<filter-name>TestFilter2</filter-name>
		<filter-class>com.kkk.filter.TestFilter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TestFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>